---
// import Welcome from '../components/Welcome.astro';
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

import { Image } from "astro:assets";
import SutherlandLogo from "../assets/sutherland.png";
import ESPNLogo from "../assets/espn.png";
import TimersLogo from "../assets/visualtimer.png";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div>
    <div
      class="w-full max-w-2xl mx-auto px-4 sm:max-w-xl md:max-w-2xl lg:max-w-3xl"
    >
      <h1>JP Grineau</h1>
      <br />
      <p>
        Hey, I’m JP Grineau a full-stack developer passionate about building
        intuitive, scalable, and user-focused web applications.
      </p>
      <br />
      <p class="flex items-center mb-1.5">
        Working at
        <a
          href="https://www.sutherlandglobal.com/"
          target="_blank"
          rel="noopener"
          class="flex flex-row items-center justify-between w-32 h-8 p-2 ml-2 rounded-lg bg-[rgba(170,170,170,0.05)] hover:bg-[rgba(170,170,170,0.15)] transition"
        >
          <img
            src={SutherlandLogo.src}
            alt="Sutherland Logo"
            class="inline-block w-8 h-8 mr-2"
            loading="eager"
          />
          <span>Sutherland</span>
        </a>
      </p>
      <p class="flex items-center mb-1.5">
        Core Team Of
        <a
          href="https://www.espn.com/"
          target="_blank"
          rel="noopener"
          class="flex flex-row items-center justify-between w-24 h-8 p-2 ml-2 rounded-lg bg-[rgba(170,170,170,0.05)] hover:bg-[rgba(170,170,170,0.15)] transition"
        >
          <img
            src={ESPNLogo.src}
            alt="Sutherland Logo"
            class="inline-block w-6 h-6 mr-2"
            loading="eager"
          />
          <span>ESPN</span>
        </a>
      </p>
      <p class="flex items-center">
        Maintaining
        <a
          href="https://visualtimers.net/"
          target="_blank"
          rel="noopener"
          class="flex flex-row items-center justify-between w-38 h-8 p-2 ml-2 rounded-lg bg-[rgba(170,170,170,0.05)] hover:bg-[rgba(170,170,170,0.15)] transition"
        >
          <img
            src={TimersLogo.src}
            alt="Sutherland Logo"
            class="inline-block w-8 h-8 mr-2"
            loading="eager"
          />
          <span>Visual Timers</span>
        </a>
      </p>
      <br />
      <p>
        I work with React, Node.js, Astro, and TypeScript, crafting everything
        from dynamic frontends to robust backends. I enjoy solving complex
        problems and turning ideas into seamless digital experiences.
      </p>
      <br />
      <p>
        When I’m not coding, you’ll find me exploring new technologies,
        optimizing workflows, or experimenting with side projects like <a
          href="https://visualtimers.net"
          target="_blank"
          id="home-p-link">Visual Timers.</a
        >
      </p>
      <br />
      <p>
        Currently based in London, Ontario, I thrive on continuous learning and
        improving my craft whether that’s writing clean, maintainable code or
        deploying projects to the cloud. Let’s build something awesome together.
      </p>
    </div>
  </div>
</Layout>
