---
// import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div>
		<div class="w-full max-w-2xl mx-auto px-4 sm:max-w-xl md:max-w-2xl lg:max-w-3xl">
			<h1>JP Grineau</h1>
			<br>
			<p>Welcome to my personal portfolio website! I'm JP Grineau, a passionate developer and tech enthusiast. Here, you'll find a showcase of my projects, skills, and experiences in the world of technology. Feel free to explore and learn more about my journey in the tech industry.</p>
		<br>
					<p>Welcome to my personal portfolio website! I'm JP Grineau, a passionate developer and tech enthusiast. Here, you'll find a showcase of my projects, skills, and experiences in the world of technology. Feel free to explore and learn more about my journey in the tech industry.</p>
<br>
			<p>Welcome to my personal portfolio website! I'm JP Grineau, a passionate developer and tech enthusiast. Here, you'll find a showcase of my projects, skills, and experiences in the world of technology. Feel free to explore and learn more about my journey in the tech industry.</p>
			<br>
						<p>Welcome to my personal portfolio website! I'm JP Grineau, a passionate developer and tech enthusiast. Here, you'll find a showcase of my projects, skills, and experiences in the world of technology. Feel free to explore and learn more about my journey in the tech industry.</p>
			<br>
						<p>Welcome to my personal portfolio website! I'm JP Grineau, a passionate developer and tech enthusiast. Here, you'll find a showcase of my projects, skills, and experiences in the world of technology. Feel free to explore and learn more about my journey in the tech industry.</p>
<br>
			<p>Welcome to my personal portfolio website! I'm JP Grineau, a passionate developer and tech enthusiast. Here, you'll find a showcase of my projects, skills, and experiences in the world of technology. Feel free to explore and learn more about my journey in the tech industry.</p>
			<br>
			<p>Welcome to my personal portfolio website! I'm JP Grineau, a passionate developer and tech enthusiast. Here, you'll find a showcase of my projects, skills, and experiences in the world of technology. Feel free to explore and learn more about my journey in the tech industry.</p>
			<br>
			<p>Welcome to my personal portfolio website! I'm JP Grineau, a passionate developer and tech enthusiast. Here, you'll find a showcase of my projects, skills, and experiences in	 the world of technology. Feel free to explore and learn more about my journey in the tech industry.</p>						
		</div>
	</div>
	
</Layout>
