---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';

---
<Layout>
<div class="max-w-6xl mx-auto w-full">

    <div class=" text-center">
        <h1 class="mt-5 ">Projects</h1>
    </div>
    <!-- Current Focus Section-->
    <div>
        <div class="max-w-4xl mx-auto p-4">
            <p class="mb-5 text-center text-lg italic">Projects that I have created or are maintaining</p>
        </div>
            <span 
                class="block mx-auto text-[5em] font-bold leading-[1em] text-transparent opacity-35 dark:opacity-20 pointer-events-none"
                style="-webkit-text-stroke: 1.5px #aaa;"
            >
            Current Focus
            </span>
            <!-- Current Focus project div -->
            <div class="flex flex-wrap justify-center gap-4 max-w-5xl mx-auto">
                 <!-- Current Focus Card 1 -->
  <div class="flex flex-col justify-between w-72 p-5 rounded-lg  bg-[var(--bg)] hover:bg-[rgba(170,170,170,0.10)] transition">
    <div>
      <h3 class="text-lg font-semibold mb-2 text-[var(--link)]">Project One</h3>
      <p class="text-sm mb-2 opacity-50">
        First project description goes here.
      </p>
    </div>
    <div class="flex gap-2 mt-4">
      <a href="#" target="_blank" class="flex-1 text-center px-3 py-2 rounded-md border text-[var(--text)] hover:opacity-80 transition hover:bg-[var(--link)]">Live Demo</a>
      <a href="#" target="_blank" class="px-3 py-2 rounded-md border border-[var(--link)] text-[var(--link)] hover:bg-[var(--link)] hover:text-[var(--bg)] transition">
        <i class="bi bi-github"></i>
      </a>
    </div>
  </div>

  <!-- Current Focus Card 2 -->
  <a 
    href="#"
    class="flex items-center flex-1 min-w-[280px] max-w-sm p-4 rounded-lg  hover:bg-[rgba(170,170,170,0.10)]  transition-colors"
  >
    <div class="pr-5 text-3xl opacity-50">
      🚀
    </div>
    <div class="flex-auto">
      <div class="text-lg font-semibold">Second</div>
      <div class="text-sm opacity-50">Short description of the second project</div>
    </div>
    <div class="pr-5 text-3xl opacity-50">
      🚀
    </div>
  </a>

        <div>
            
        </div>

        
         

      </div>
      <!-- Web Apps section -->
    <div>
      <span
                  class="block mx-auto text-[5em] font-bold leading-[1em] text-transparent opacity-35 dark:opacity-20 pointer-events-none"
                  style="-webkit-text-stroke: 1.5px #aaa;"
              >
              Web Apps
              </span>

              
              <!-- Web App project div -->
              <div class="flex flex-wrap justify-center gap-4 max-w-5xl mx-auto">
                <!-- Web Apps Card 1-->
                 <a 
                    href="#"
                    class="flex items-center flex-1 min-w-[280px] max-w-sm p-4 rounded-lg  hover:bg-[rgba(170,170,170,0.10)]  transition-colors"
                  >
                    <div class="pr-5 text-3xl opacity-50">
                      🚀
                    </div>
                    <div class="flex-auto">
                      <div class="text-lg font-semibold">Second</div>
                      <div class="text-sm opacity-50">Short description of the second project</div>
                    </div>
                    <div class="pr-5 text-3xl opacity-50">
                      🚀
                    </div>
                  </a>
                
                  <!-- Web Apps Card 2-->
                 <a 
                    href="#"
                    class="flex items-center flex-1 min-w-[280px] max-w-sm p-4 rounded-lg  hover:bg-[rgba(170,170,170,0.10)]  transition-colors"
                  >
                    <div class="pr-5 text-3xl opacity-50">
                      🚀
                    </div>
                    <div class="flex-auto">
                      <div class="text-lg font-semibold">Second</div>
                      <div class="text-sm opacity-50">Short description of the second project</div>
                    </div>
                    <div class="pr-5 text-3xl opacity-50">
                      🚀
                    </div>
                  </a>
                
                  <!-- Web Apps Card 3-->
                 <a 
                    href="#"
                    class="flex items-center flex-1 min-w-[280px] max-w-sm p-4 rounded-lg  hover:bg-[rgba(170,170,170,0.10)]  transition-colors"
                  >
                    <div class="pr-5 text-3xl opacity-50">
                      🚀
                    </div>
                    <div class="flex-auto">
                      <div class="text-lg font-semibold">Second</div>
                      <div class="text-sm opacity-50">Short description of the second project</div>
                    </div>
                    <div class="pr-5 text-3xl opacity-50">
                      🚀
                    </div>
                  </a>
                    </div>
              </div>



              <!-- UI/Frontend section -->
    <div>
      <span
                  class="block mx-auto text-[5em] font-bold leading-[1em] text-transparent opacity-35 dark:opacity-20 pointer-events-none"
                  style="-webkit-text-stroke: 1.5px #aaa;"
              >
              UI / Frontend
              </span>

              
              <!-- Web App project div -->
              <div class="flex flex-wrap justify-center gap-4 max-w-5xl mx-auto">
                <!-- Web Apps Card 1-->
                 <a 
                    href="#"
                    class="flex items-center flex-1 min-w-[280px] max-w-sm p-4 rounded-lg  hover:bg-[rgba(170,170,170,0.10)]  transition-colors"
                  >
                    <div class="pr-5 text-3xl opacity-50">
                      🚀
                    </div>
                    <div class="flex-auto">
                      <div class="text-lg font-semibold">Second</div>
                      <div class="text-sm opacity-50">Short description of the second project</div>
                    </div>
                    <div class="pr-5 text-3xl opacity-50">
                      🚀
                    </div>
                  </a>
                
                  <!-- Web Apps Card 2-->
                 <a 
                    href="#"
                    class="flex items-center flex-1 min-w-[280px] max-w-sm p-4 rounded-lg  hover:bg-[rgba(170,170,170,0.10)]  transition-colors"
                  >
                    <div class="pr-5 text-3xl opacity-50">
                      🚀
                    </div>
                    <div class="flex-auto">
                      <div class="text-lg font-semibold">Second</div>
                      <div class="text-sm opacity-50">Short description of the second project</div>
                    </div>
                    <div class="pr-5 text-3xl opacity-50">
                      🚀
                    </div>
                  </a>
                
                  <!-- Web Apps Card 3-->
                 <a 
                    href="#"
                    class="flex items-center flex-1 min-w-[280px] max-w-sm p-4 rounded-lg  hover:bg-[rgba(170,170,170,0.10)]  transition-colors"
                  >
                    <div class="pr-5 text-3xl opacity-50">
                      🚀
                    </div>
                    <div class="flex-auto">
                      <div class="text-lg font-semibold">Second</div>
                      <div class="text-sm opacity-50">Short description of the second project</div>
                    </div>
                    <div class="pr-5 text-3xl opacity-50">
                      🚀
                    </div>
                  </a>
                    </div>
              </div>
</div>
</Layout>