---
import "../styles/global.css";
---

<div
  class="w-full max-w-2xl mx-auto px-4 sm:max-w-xl md:max-w-2xl lg:max-w-3xl"
>
  <div
    class="mt-10 mb-6 prose m-auto flex items-center slide-enter animate-delay-1200 copyright"
  >
    <span class="text-sm text-[var(--p)] opacity-50">
      <a
        target="_blank"
        href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
        style="color: inherit;"
      >
        © 2025 JP Grineau.
      </a>
    </span>
    <div class="flex-auto"></div>
  </div>
</div>
