---
import Logo from '../assets/blackLogo.png';
import WhiteLogo from '../assets/favicon.png';
import '../styles/global.css';
---

<div id="Parent" class="flex justify-between items-center text-white hover: cursor-pointer">
    
    <div id="Left" class="flex justify-start items-center">
        <a href="/" class="flex items-center p-4">
            <img id="Logo" src={Logo.src} alt="Logo" class="h-14 w-14 mr-2 dark:hidden" />
            <img id="WhiteLogo" src={WhiteLogo.src} alt="Logo" class="h-14 w-4 mr-2 hidden dark:block" />
        </a>
    </div>
    <nav id="Right" class="space-x-4 flex justify-end items-center p-4 mr-4">
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/about">About</a>
        <a href="https://www.linkedin.com/in/jpgrineau/" target="_blank" rel="noopener noreferrer" class="bi bi-linkedin"></a>
        <a href="https://github.com/JGrineau" target="_blank" rel="noopener noreferrer" class="bi bi-github"></a>

    </nav>
</div>