---
import { Image } from "astro:assets";
import Logo from "../assets/blackLogo.png";
import WhiteLogo from "../assets/whiteLogo.png";
import DarkMode from "../components/DarkMode.astro";
import "../styles/global.css";
---

<div class="flex items-center justify-between p-4 bg-[var(--bg)]">
  <!-- Sticky logo container on large and medium screens -->
  <div>
    <a
      href="/"
      class="flex sm:fixed sm:top-0 sm:left-0 sm:z-50 w-14 h-14 m-0 sm:m-2.5"
      id="Logo"
    >
      <Image
        id="logo-light"
        src={Logo}
        alt="Logo"
        loading="eager"
        class="w-14 h-14 block"
      />
      <Image
        id="logo-dark"
        src={WhiteLogo}
        alt="Logo"
        loading="eager"
        class="w-14 h-14 hidden"
      />
    </a>
  </div>

  <!-- Nav stays on the right -->
  <nav id="Right" class="flex-1 flex justify-end items-end gap-4.5 pr-4 p-2">
    <!--Large Screen Nav -->
    <a href="/" class="hidden md:inline">Home</a>
    <a href="/projects" class="hidden md:inline">Projects</a>
    <a href="/resume" class="hidden md:inline">Resume</a>

    <!-- Icons for small screens -->
    <a href="/" class="bi bi-house md:hidden font-bold" title="Home Page"></a>
    <a
      href="/projects"
      class="bi bi-clipboard md:hidden font-bold"
      title="Projects Page"></a>
    <a
      href="/resume"
      class="bi bi-file-person md:hidden font-bold"
      title="Resume Page"></a>
    <a
      href="https://www.linkedin.com/in/jpgrineau/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="LinkedIn profile"
      title="LinkedIn Profile"
      class="bi bi-linkedin font-bold"></a>
    <a
      href="https://github.com/JGrineau"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Github profile"
      title="Github Profile"
      class="bi bi-github font-bold"></a>
    <DarkMode />
  </nav>
</div>
