---
import Navbar from '../components/Navbar.astro';

---
<!doctype html>
<html  lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>JP Grineau</title>
	</head>
	<body class="mt-8 p-0 w-100% h-100%">
			
		<Navbar />
		<slot />
	</body>
</html>


